
body {
    width: 100%;
    height: 100%;
    background-color: rgb(170, 126, 84);
    margin: 0px;
}

#content {
    display: flex;
}

.divTable {
	width: auto;
    background-color: beige;
}

#turndiv {
    background-color: beige;
    color: black;
    text-align: center;
    border: 0px;
    border-right: solid 1px #3f3f3f;
}

.blank {
    border-left: solid 1px #3f3f3f;
    border-right: solid 1px #3f3f3f;
}

#categories {
    border: 0px;
    border-right: solid 1px #3f3f3f;
}

.table {
    border: 3px solid #3f3f3f;
    margin: 5px;
}

.row, .row_, .row_filled {
    display: flex;
    height: 45px;
}

.row {
    cursor: pointer;
}

.row_ {
    color: white
}

.row_ .type {
    background-color: #3f3f3f;
}

.row_ .score {
    background-color: #cacaca;
}

.type, .score {
    border: 1px solid #303030;
    padding: 3px 10px;
    width: 220px;
    font-size: 30px;
    line-height: 30px;
}

.type {
    background-color: beige;
}

.score {
    width: 70px;
    text-align: center;
    line-height:  37px;
    background-color: #faec70;
}

.number:hover .type, .set:hover .type {
    background-color: rgb(255, 187, 0);
}
.number:hover .score, .set:hover .score {
    background-color: rgb(255, 102, 0);
    color: black;
}

div[status='prefilled'] {
    color: #a39630;
}

#subtotal {
    border-bottom: 4px dotted rgb(226, 226, 226);
}

#bonus {
    border-top: 0px;
}

.ico {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
}


.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selected {
    display: flex;
    width: 1310px;
    height: 262px;
    background-image: url('image/selectbackground.png');
    border-radius: 0px;
}

#dices {
    display: flex;
    width: 1310px;
    height: 260px;
    background-color: #640000;
    border-radius: 120px;
    margin-top: 20px;;
}

.dice {
    width: 160px;
    height: 160px;
    background-size: cover;
    margin: 50px;
    border: solid rgb(216, 216, 216) 1px;
    border-radius: 20px;
    cursor: pointer;
}

button {
    width: 1310px;
    height: 50px;
    margin: 10px 20px;
    
}
